#addBtn {
  background-color: #ff8744 !important;
  border: none;
}
#cancel {
  background-color: #ff5733 !important;
  border: none;
}
#submit {
  background-color: #2ecc71 !important;
  border: none;
}
.btn-close {
  display: none;
}
.modal-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cancleIcon {
  cursor: pointer;
}
.swal2-actions {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
/* [dir=ltr] [data-column-id="sticky-column"] {
    position: sticky;
    right: 0;
    background-color: white;
    z-index: 1;
    box-shadow: -2px 0 5px -2px rgba(0, 0, 0, 0.2);
  } */
.swal2-confirm {
  margin-right: 10px;
}
.swal2-cancel {
  margin-right: 10px;
}
.ant-table {
  /* border: 2px solid #ff8744; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}
.ant-table-container {
}
.ant-table-body {
  scrollbar-width: none;
}
.ant-table-tbody > tr > td {
  padding: 0 16px !important;
}
.ant-table-thead > tr > th {
  padding: 10px 16px !important;
}
.ant-table-header {
  /* padding: 0px 10px !important; */
  top: 50px !important;
}
.ant-table-row .ant-table-cell {
  color: #57350b !important;
  height: 35px;
  /* padding: 0px 16px 0px 16px !important; */
  font-weight: 400;
  /* padding: 10px !important */
}
.ant-table-thead .ant-table-cell {
  /* padding: 0px 16px 0px 16px !important; */
  height: 35px;
  font-weight: 500;
  color: #57350b !important;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.ant-table-row {
  /* height: 20px !important; */
}
.ant-table-row:nth-child(even) .ant-table-cell {
  background-color: #fff7e8; /* Background color for last child cells in even rows */
}
.ant-picker {
  /* margin-top: 32px !important; */
  display: flex !important;
  height: 39px !important;
}
.ant-picker-outlined {
  background: #fff7e8;
  border: none !important;
}
.ant-picker .ant-picker-input > input::placeholder {
  font-weight: 600 !important;
  color: #9b845f !important;
}
.ant-picker .ant-picker-input > input {
  font-weight: 700 !important;
  color: #583703 !important;
}
.ant-picker-suffix {
  color: #9b845f !important;
}
/* .ant-pagination {
  display: none !important;
} */
.ant-picker-header-view {
  color: #583703 !important;
}
.ant-picker-date-panel .ant-picker-content th {
  color: #583703 !important;
  font-weight: 500 !important;
}
.ant-picker-dropdown .ant-picker-content td {
  color: #583703 !important;
}
.ant-picker-now-btn {
  color: #583703 !important;
}
.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-selected:not(
    .ant-picker-cell-disabled
  )
  .ant-picker-cell-inner {
  background-color: #ff8744;
}
.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-today
  .ant-picker-cell-inner::before {
  border: 1px solid #583703;
}
.ant-btn-primary {
  background-color: #ff8744 !important;
  color: white !important ;
  border: none !important;
  border-radius: 5px !important;
}
