//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
$primary: #FF8744; // Changing primary color
$font-family-sans-serif: 'Noto Sans',sans-serif !default;
$body-bg:#ffffff !default;
// $font-family-monospace: 'Montserrat', Helvetica, Arial, serif !default;
