.TabsWrapper {
    .tabName {
        //font: normal normal bold 18px/28px Noto Sans;
        color: #583703;
        opacity: 70%;
        //padding-right: 1rem;
        white-space: nowrap;
        cursor: pointer;
        padding-bottom: 0.2rem;
    }

    hr {
        margin-top: -0.52rem;
        height: 1.5px;
        color: #583703;
        opacity: 25%;
        z-index: 1;
    }

    .allTabBox {
        scrollbar-width: none !important;
        margin-left: 0rem;
        overflow-x: scroll;

        ::-webkit-scrollbar {
            height: 5px;
        }

        ::-webkit-scrollbar-thumb {
            background-color: gray;
            border-radius: 25px;
        }
    }

    .activeTab {
        z-index: 2;
        border-bottom: 5px solid;
        border-color: #ff8744;
        border-radius: 5px;
        color: #583703;
        opacity: 100%;
        font-weight: bold;
    }
}