@use './variables/variables' as *;

.breedwrapper {
    color: $font-color;
    font: $font-weight-normal $font-weight-bold $font-size-large/$font-size-large*1.65 $font-family;

    .btn {
        font-weight: $font-weight-bold;
    }
}

.cattlebreedtablewrapper {
    color: $font-color !important;
    margin-bottom: 1rem;
    font: $font-weight-normal $font-weight-bold $font-size-medium/$font-size-medium*1.53 $font-family;

    .modal-body {
        max-height: 600px !important;
        overflow: auto !important;
    }

    .tableDes p {
        margin-bottom: 0;
    }
}

.cattlecategorywrapper {
    color: $font-color;
    font: $font-weight-normal $font-weight-bold $font-size-large/$font-size-large*1.65 $font-family;

    .btn {
        font-weight: $font-weight-bold;
    }
}

.cattlecategorytablewrapper {
    color: $font-color !important;
    margin-bottom: 1rem;
    font: $font-weight-normal $font-weight-bold $font-size-medium/$font-size-medium*1.53 $font-family;

    .modal-body {
        max-height: 600px !important;
        overflow: auto !important;
    }

    .tableDes p {
        margin-bottom: 0;
    }
}

// .cattleaddwraper {
//     color: $font-color;
//     font: $font-weight-normal $font-weight-bold $font-size-large/$font-size-large*1.65 $font-family;

//     .ImagesVideos {
//         font: $font-weight-normal $font-weight-bold $font-size-medium/$font-size-large*1.65 $font-family;
//     }

//     .addAction {
//         color: $font-color;
//         display: flex;
//         align-items: center;
//     }
// }

.cattleinfo {
    color: $font-color;
    font: $font-weight-normal $font-weight-bold $font-size-large/$font-size-large*1.65 $font-family;

    .btn {
        font-weight: $font-weight-bold;
    }
}

.cattleinfotablewrapper {
    color: $font-color !important;
    margin-bottom: 1rem;
    font: $font-weight-normal $font-weight-bold $font-size-medium/$font-size-medium*1.53 $font-family;

    .modal-body {
        max-height: 600px !important;
        overflow: auto !important;
    }

    .tableDes p {
        margin-bottom: 0;
    }
}

.recentregisteredcattletablewrapper {
    color: $font-color !important;
    margin-right: 20px;
    margin: 1rem 0;
    font: $font-weight-normal $font-weight-bold $font-size-large/$font-size-medium*1.15 $font-family !important;

    .DonationViewAll {
        color: $primary-color;
        cursor: pointer;
    }

    .recentDonationHeading {
        font: $font-weight-normal $font-weight-bold $font-size-large/$font-size-medium*1.15 $font-family;
    }
}


.expensemanagementwrapper {
    color: $font-color;
    font: $font-weight-normal $font-weight-bold $font-size-large/$font-size-large*1.65 $font-family;

    .btn {
        font-weight: $font-weight-bold;
    }
}

.expensetablewrapper {
    color: $font-color !important;
    font: $font-weight-normal $font-weight-bold $font-size-medium/$font-size-medium*1.53 $font-family;

    .modal-body {
        max-height: 600px !important;
        overflow: auto !important;
    }

    .tableDes p {
        margin-bottom: 0;
    }
}

// .medicalinfoaddwraper {
//     color: $font-color;
//     font: $font-weight-normal $font-weight-bold $font-size-large/$font-size-large*1.65 $font-family;

//     .ImagesVideos {
//         font: $font-weight-normal $font-weight-bold $font-size-medium/$font-size-large*1.65 $font-family;
//     }

//     .addAction {
//         color: $font-color;
//         display: flex;
//         align-items: center;
//     }
// }

.medicalwrapper {
    color: $font-color;
    font: $font-weight-normal $font-weight-bold $font-size-large/$font-size-large*1.65 $font-family;

    .btn {
        font-weight: $font-weight-bold;
    }
}

.medicaltablewrapper {
    color: $font-color !important;
    font: $font-weight-normal $font-weight-bold $font-size-medium/$font-size-medium*1.53 $font-family;

    .modal-body {
        max-height: 600px !important;
        overflow: auto !important;
    }

    .tableDes p {
        margin-bottom: 0;
    }
}

// .pregnancyaddwraper {
//     color: $font-color;
//     font: $font-weight-normal $font-weight-bold $font-size-large/$font-size-large*1.65 $font-family;

//     .ImagesVideos {
//         font: $font-weight-normal $font-weight-bold $font-size-medium/$font-size-large*1.65 $font-family;
//     }

//     .addAction {
//         color: $font-color;
//         display: flex;
//         align-items: center;
//     }
// }

.pregnancyreportwrapper {
    color: $font-color;
    font: $font-weight-normal $font-weight-bold $font-size-large/$font-size-large*1.65 $font-family;

    .btn {
        font-weight: $font-weight-bold;
    }
}

.pregnancytablewrapper {
    color: $font-color !important;
    font: $font-weight-normal $font-weight-bold $font-size-medium/$font-size-medium*1.53 $font-family;

    .modal-body {
        max-height: 600px !important;
        overflow: auto !important;
    }

    .tableDes p {
        margin-bottom: 0;
    }
}

.stockmanagementwrapper {
    color: $font-color;
    font: $font-weight-normal $font-weight-bold $font-size-large/$font-size-large*1.65 $font-family;

    .btn {
        font-weight: $font-weight-bold;
    }

    hr {
        height: 1px;
        margin-top: 0;
    }
}

.itemeditwrapper {
    color: $font-color;
    font: $font-weight-normal $font-weight-bold $font-size-large/$font-size-large*1.65 $font-family;

    .ImagesVideos {
        font: $font-weight-normal $font-weight-bold $font-size-medium/$font-size-large*1.65 $font-family;
    }

    .addAction {
        color: $font-color;
        display: flex;
        align-items: center;
    }
}

.stockmanagementitemtablewrapper {
    color: $font-color !important;
    font: $font-weight-normal $font-weight-bold $font-size-medium/$font-size-medium*1.53 $font-family;

    .modal-body {
        max-height: 600px !important;
        overflow: auto !important;
    }

    .tableDes p {
        margin-bottom: 0;
    }
}

.stockmanagementtablewrapper {
    color: $font-color !important;
    font: $font-weight-normal $font-weight-bold $font-size-medium/$font-size-medium*1.53 $font-family;

    .modal-body {
        max-height: 600px !important;
        overflow: auto !important;
    }

    .tableDes p {
        margin-bottom: 0;
    }
}

.suppliestablewrapper {
    color: $font-color !important;
    font: $font-weight-normal $font-weight-bold $font-size-medium/$font-size-medium*1.53 $font-family;

    .modal-body {
        max-height: 600px !important;
        overflow: auto !important;
    }

    .tableDes p {
        margin-bottom: 0;
    }
}

.itemusageaddwraper {
    color: $font-color;
    font: $font-weight-normal $font-weight-bold $font-size-large/$font-size-large*1.65 $font-family;

    .ImagesVideos {
        font: $font-weight-normal $font-weight-bold $font-size-medium/$font-size-large*1.65 $font-family;
    }

    .addAction {
        color: $font-color;
        display: flex;
        align-items: center;
    }
}

.usagemanagementtablewrapper {
    color: $font-color !important;
    font: $font-weight-normal $font-weight-bold $font-size-medium/$font-size-medium*1.53 $font-family;

    .modal-body {
        max-height: 600px !important;
        overflow: auto !important;
    }

    .tableDes p {
        margin-bottom: 0;
    }
}

.categoryaddwrapper {
    color: $font-color;
    font: $font-weight-bold $font-size-large $font-family;

    .addCategory {
        color: $font-color;
        display: flex;
        align-items: center;
    }
}

.categorylangwrapper {
    color: $font-color;
    font: $font-weight-bold $font-size-large $font-family;

    .categoryAddLang {
        color: $font-color;
        display: flex;
        align-items: center;
    }
}

.categoryeditwrapper {
    color: $font-color;
    font: $font-weight-bold $font-size-large $font-family;

    .editCategory {
        color: $font-color;
        display: flex;
        align-items: center;
    }
}

.reportdisputwrapper {
    color: $font-color;
    font: $font-weight-bold $font-size-large $font-family;

    .table_upper_row {
        margin-bottom: 2rem;
    }

    .addAction {
        color: $font-color;
        display: flex;
        align-items: center;
    }

    .category_heading {
        font-size: $font-size-large;
        font-weight: $font-weight-bold;
        color: $font-color;
    }

    .filterPeriod {
        color: $primary-color;
        font: $font-weight-bold $font-size-small $font-family;
    }
}

.subadminuserwrapper {
    color: $font-color;
    font: $font-weight-bold $font-size-large $font-family;

    .ImagesVideos {
        font: $font-weight-bold $font-size-medium $font-family;
    }

    .editNotice {
        color: $font-color;
        display: flex;
        align-items: center;
    }
}

.listviewwrapper {
    color: $font-color;
    font: $font-weight-normal $font-size-medium $font-family;

    .ImagesVideos {
        font: $font-weight-bold $font-size-medium $font-family;
    }

    .addAction,
    .editAction,
    .secondaryAction {
        color: $font-color;
        display: flex;
        align-items: center;
        font-weight: 600;
        margin-left: 0rem !important;
        margin-top: 0rem !important;

    }

    .FormikWrapper {
        padding: 10px;
        background: $white;
        border-radius: 8px;
        max-height: 90vh;
        /* Set height relative to viewport */
        overflow-y: auto;
        overflow-x: hidden;

        /* Enable scrolling */
        padding-bottom: 200px;
    }

    .reactselectlabel {
        font: $font-weight-normal 12px $font-family;
    }

    .addUser {
        font: bold 14px Noto Sans;
        padding-bottom: 5px;
    }

    .addUser>span {
        text-decoration: underline;
        color: $primary-color;
    }

    .btn-Published {
        text-align: center;
    }

    .addAction-btn {
        padding: 8px 20px;
        //margin-left: 10px;
        font: $font-weight-bold $font-size-medium $font-family;
        border-color: $primary-color !important;
        background-color: $primary-color !important;
    }

    .secondaryAction-btn {
        padding: 8px 20px;
        //margin-left: 10px;
        font: $font-weight-bold $font-size-medium $font-family;
        border-color: $primary-color !important;
        background-color: $primary-color !important;
    }

    .listviewContent {
        margin-top: 1rem;

        ::-webkit-scrollbar {
            display: none;
        }
    }

    .filterPeriod {
        color: $primary-color;
        margin-top: 0.5rem;
        font: $font-weight-bold $font-size-small/5px $font-family;
    }

    .noContent {
        margin-left: 30rem;
    }

    .react-time-picker__wrapper {
        border: none !important;
    }

    .react-time-picker {
        width: 100%;
    }

    .react-time-picker__inputGroup {
        color: $font-color !important;
        border: none !important;
        background-color: $secondary-color !important;
        font: $font-weight-normal $font-size-small/20px $font-family;
        width: 100%;
        padding: 0rem 0.5rem !important;
        border-radius: 5px;
        line-height: 30px;
    }

    .react-time-picker__inputGroup__input:invalid {
        background: $secondary-color !important;
    }

    .react-time-picker__inputGroup__input--hasLeadingZero {
        margin-left: 0 !important;
        padding-left: 0px !important;
    }

    @media only screen and (max-width: 1150px) {
        .noContent {
            margin-left: 0;
        }
    }
}

.loginwrapper {
    .errorMassage {
        font: $font-weight-bold 14px $font-family;
    }

    .defaultFontColor {
        color: $font-color;
    }

    .an_account {
        font: $font-weight-normal 16px $font-family;
    }

    .fw-bold {
        font-weight: 800 !important;
        font-size: 35px;
        font-family: $font-family;
    }

    .signInEnterUserNAme {
        font: $font-weight-normal 18px $font-family;
    }

    .forgetPassword {
        padding: 1rem 0rem;
        text-align: end;
        margin-bottom: 20px;
    }

    .forgetPassword>span {
        font: $font-weight-bold 16px/20px $font-family;
    }

    .signInIcons {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        cursor: pointer;
    }

    .signInputField {
        color: $font-color;
        font: $font-weight-bold 16px/33px $font-family;

        &::-webkit-input-placeholder {
            opacity: 0.3;
            font: $font-weight-bold 16px/33px $font-family;
            color: $font-color !important;
        }
    }

    .text-end {
        font: $font-weight-bold 18px/80px $font-family;
    }

    .px-5 {
        font: $font-weight-bold $font-size-large $font-family;
    }

    .signUp {
        font: $font-weight-bold 18px/25px $font-family;
    }

    .brand-text {
        color: $font-color;
        font: $font-weight-bold 30px/44px $font-family;
    }

    .brand-logo {
        width: fit-content;
    }

    .templeName {
        font: 600 23px/43px $font-family;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .loginBackground {
        background: $secondary-color;
    }
}

.trustmodalwrapper {

    .trustItem,
    .notApproved {
        color: $font-color;
        font-size: 17px;
        margin: 0px;
        padding: 0.5rem;
        font-weight: 400;
        line-height: 25px;
    }

    p {
        margin: 0px;
    }

    .hoverItem:hover {
        background: $primary-color;
        cursor: pointer;
        color: $white !important;
    }

    .notApproved {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .notApproved>span {
        color: $red;
        font-size: 14px !important;
    }
}

// .addviewwrapper {
//     color: $font-color;
//     font: $font-weight-bold $font-size-large $font-family;

//     .ImagesVideos {
//         font: $font-weight-bold $font-size-medium $font-family;
//     }

//     .addNotice,
//     .editNotice,
//     .addNotification,
//     .addProfile,
//     .AddAction,
//     .editPunyarjak {
//         color: $font-color;
//         display: flex;
//         align-items: center;
//     }

//     .FormikWrapper {
//         padding: 5px;
//     }

//     .btn-Published {
//         text-align: center;
//     }

//     .addNotification-btn,
//     .AddAction-btn {
//         padding: 8px 20px;
//         margin-left: 10px;
//         font: $font-weight-bold $font-size-medium/$font-size-medium $font-family;
//     }

//     .noticeContent,
//     .notificationContent,
//     .punyarjakContent {
//         margin-top: 1rem;

//         ::-webkit-scrollbar {
//             display: none;
//         }
//     }

//     .filterPeriod {
//         color: $primary-color;
//         margin-top: 0.5rem;
//         font: $font-weight-bold $font-size-small/5px $font-family;
//     }

//     .noContent {
//         margin-left: 30rem;
//     }

//     @media only screen and (max-width: 1150px) {
//         .noContent {
//             margin-left: 0;
//         }
//     }
// }

//.addviewwrapper,
.wrapfacility {
    label {
        font: $font-weight-bold $font-size-medium/$font-size-large*1.65 $font-family;
    }

    input {
        color: $font-color !important;
        border: none !important;
        height: 36px;
        width: 100%;
        padding-top: 9px;
        padding-left: 5px;
        background-color: $secondary-color !important;
        font: $font-weight-normal $font-size-small/$font-size-medium $font-family;
        border-radius: 5px;

        &[type="file"]::file-selector-button {
            display: none;
        }
    }
}

.loginwrapper,
.setpasswordwrapper {
    .errorMassage {
        font: $font-weight-bold 14px/20px $font-family;
    }

    .defaultFontColor {
        color: $font-color;
    }

    .an_account {
        font: $font-weight-normal 16px/25px $font-family;
    }

    .fw-bold {
        font-weight: 800 !important;
        font-size: 35px;
        font-family: $font-family;
        text-align: center;
    }

    .signInEnterUserNAme {
        font: $font-weight-normal 18px/25px $font-family;
    }

    .forgetPassword {
        padding: 1rem 0rem;
        text-align: end;
        margin-bottom: 20px;

        >span {
            font: $font-weight-bold 16px/20px $font-family;
        }
    }

    .signInIcons {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        cursor: pointer;
    }

    .signInputField {
        color: $font-color;
        font: $font-weight-bold 16px/33px $font-family;

        &::-webkit-input-placeholder {
            opacity: 0.3;
            font: $font-weight-bold 16px/33px $font-family;
            color: $font-color !important;
        }
    }

    .text-end {
        font: $font-weight-bold 18px/80px $font-family;
    }

    .px-5 {
        font: $font-weight-bold $font-size-large/$font-size-large $font-family;
    }

    .signUp {
        font: $font-weight-bold 18px/25px $font-family;
    }

    .brand-text {
        color: $font-color;
        font: $font-weight-bold 30px/44px $font-family;
    }

    .brand-logo {
        width: fit-content;
    }

    .loginBackground {
        background: $secondary-color;
    }

    .templeName {
        font: $font-weight-bold 23px/43px $font-family;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.chart-card-wrapper {
    font: $font-weight-bold $font-size-large $font-family;

    .chart-card {
        flex: 1 1 20%;
        background-color: $secondary-color;
        width: 100% !important;
        height: auto;
        color: $font-color;
        // max-width: 300;
    }

    .card-text {
        font: $font-weight-normal 16px/20px $font-family;
    }

    .fw-bolder {
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 250px;
    }
}

.model-wrapper {
    color: $font-color;
    padding: 25px;

    .modal-title {
        display: flex !important;
        width: 100%;
        justify-content: space-between;
        color: $font-color;
        font: $font-weight-bold 14px/30px $font-family;

        .cancel {
            cursor: pointer;
            color: $primary-color;
        }
    }

    .langButton {
        align-items: center;
        background: $secondary-color;
        display: flex;
        padding: 1rem;
        border-radius: 10px;
        cursor: pointer;
    }

    .changeBG {
        background-color: $primary-color;
        color: $secondary-color;
    }

    .form-check-input {
        background: inherit;
        border: 3px solid $grey;
        width: 1rem;
        height: 1rem;
        margin-right: 10px;

        &:checked {
            border: 3px solid $white;
        }
    }

    .language_heading {
        font-size: 18px;
    }
}

.sub-header-wrapper {
    font: $font-weight-normal $font-size-medium $font-family;
    cursor: pointer;

    .text-light {
        color: $white !important;
    }

    .active-tab {
        font-weight: $font-weight-bold;
        opacity: 100%;
    }
}

.btn-content-wrapper {
    color: $font-color;
    font: $font-weight-normal $font-size-medium $font-family;

    .col-item {
        cursor: pointer;
        margin-top: 0.3rem;

        &:hover {
            background-color: $primary-color;
            color: $white;
        }
    }
}

.navbar-image-logo-wrapper {
    .logo {
        width: 125px !important;
        height: 35px !important;
        object-fit: contain !important;
        object-position: center !important;
    }
}

.navbar-user-wrapper {
    color: $font-color !important;

    .brand-logo div {
        font: $font-weight-bold $font-size-large $font-family;
        margin-right: 80px;
        cursor: pointer;
    }

    .searchinput {
        background: $screen-background-color !important;

        &.sInput {
            border-end-end-radius: 0% !important;
            border-start-end-radius: 0% !important;
            font: $font-weight-normal 16px/20px $font-family;
        }

        &.sIconsBox {
            border-start-start-radius: 0% !important;
            border-end-start-radius: 0% !important;
            cursor: pointer;
        }
    }

    img {
        width: 24px;
    }

    .icon {
        margin-inline-start: 15px;
        cursor: pointer;
    }

    .nave-para {
        width: max-content;
        margin: 10px;
        cursor: pointer;
    }

    .temple-name {
        font: $font-weight-bold 16px/30px $font-family;
    }

    .date {
        font: $font-weight-normal 10px/20px $font-family;
    }

    .notification-number {
        background: $red;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        align-items: center;
        display: flex;
        justify-content: center;
        color: $white;
        font-size: 10px;
        font-weight: 900;
        position: absolute;
        right: 0;
        bottom: 20px;
        left: 35px;
    }

    .shake-bell {
        animation: ring 4s 0.7s ease-in-out infinite;
        transform-origin: 50% 4px;
    }

    .logo {
        width: 125px;
        height: 35px;
        object-fit: contain;
        object-position: center;
    }

    @keyframes ring {
        0% {
            transform: rotate(0);
        }

        1% {
            transform: rotate(30deg);
        }

        3% {
            transform: rotate(-28deg);
        }

        5% {
            transform: rotate(34deg);
        }

        7% {
            transform: rotate(-32deg);
        }

        9% {
            transform: rotate(30deg);
        }

        11% {
            transform: rotate(-28deg);
        }

        13% {
            transform: rotate(26deg);
        }

        15% {
            transform: rotate(-24deg);
        }

        17% {
            transform: rotate(22deg);
        }

        19% {
            transform: rotate(-20deg);
        }

        21% {
            transform: rotate(18deg);
        }

        23% {
            transform: rotate(-16deg);
        }

        25% {
            transform: rotate(14deg);
        }

        27% {
            transform: rotate(-12deg);
        }

        29% {
            transform: rotate(10deg);
        }

        31% {
            transform: rotate(-8deg);
        }

        33% {
            transform: rotate(6deg);
        }

        35% {
            transform: rotate(-4deg);
        }

        37% {
            transform: rotate(2deg);
        }

        39% {
            transform: rotate(-1deg);
        }

        41% {
            transform: rotate(1deg);
        }

        43% {
            transform: rotate(0);
        }

        100% {
            transform: rotate(0);
        }
    }

    @media only screen and (max-width: 576px) {
        .display-block {
            display: block !important;
        }

        .display-none {
            display: none !important;
        }
    }
}

.avatar-wrapper {
    .img-class-name {
        width: 50px !important;
        height: 50px !important;
        object-fit: cover;
        object-position: top center;
    }

    .edit-profile-icon {
        width: 16px;
        border-radius: 0% !important;
        box-shadow: none !important;
        bottom: 2px;
        right: -2px;
    }
}

.notify-pop-up-wrapper {
    font: $font-weight-normal $font-size-small $font-family;

    .notify-content-box {
        border-right: 1px solid black;
    }

    .notification-title {
        font: 600 16px/33px $font-family;
    }

    .notification-container {
        min-width: 300px;
    }

    .notification-content {
        display: -webkit-box;
        max-width: 220px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.revenue-chart-wrapper {
    background: $white;
    border-radius: 8px;
    padding: 5px;
    box-shadow: $box-shadow;

    .apexcharts-toolbar {
        display: none;
    }

    .apexcharts-legend {
        position: relative !important;
        justify-content: end !important;
    }

    p {
        color: $font-color;
        font: $font-weight-bold $font-size-large $font-family;
    }

    .apexcharts-legend-text {
        color: $font-color !important;
    }

    .apexcharts-xaxis-label {
        fill: $font-color !important;
        font: $font-weight-bold 11px/24px $font-family;
    }

    .apexcharts-yaxis-label {
        fill: $font-color !important;
        font: $font-weight-bold 11px/24px $font-family;
    }
}

.editProfileIcon {
    bottom: -10px;
    width: min-content;
}

// ===========================================Dropdown Card Css=============================================== //

.card-dropdown {
    &__control {
        background-color: $secondary-color;
        // border-color: $font-color;

        &:hover,
        &--is-focused {
            border-color: $primary-color;
            box-shadow: 0 0 0 1px $primary-color;
        }
    }

    &__menu {
        background-color: transparent;
        box-shadow: none;
        border: none;
        max-height: 300px;
        overflow-y: auto;
    }

    &__menu-list {
        padding: 0;
        max-height: 300px;
        overflow-y: auto;
    }

    &__option {
        padding: 4px;
        background-color: transparent;
        color: $font-color;

        &:hover {
            background-color: transparent;
        }
    }

    &__single-value {
        color: $font-color;
        font: $font-weight-bold $font-size-medium $font-family;
    }
}

.card-option {
    padding: 12px;
    border: 1px $secondary-color;
    border-radius: 8px;
    background-color: $secondary-color;
    box-shadow: 0 2px 4px $font-color;
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 8px $font-color;
    }
}

.card-row {
    // display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    &:last-child {
        margin-bottom: 0;
    }
}

.card-label {
    font-weight: 700;
    color: $font-color;
    font-size: 0.9em;
    margin-right: 8px;
    min-width: 100px;
    text-align: left;
}

.card-title,
.card-description,
.commitment-id,
.amount {
    flex: 1;
    text-align: right;
}

.card-title {
    font-weight: 700;
    font-size: 1em;
    color: $font-color;
}

.card-description {
    color: $font-color;
    opacity: 0.8;
    font-size: 0.9em;
}

.commitment-id {
    font-family: monospace;
    padding: 2px 4px;
    border-radius: 4px;
    color: $font-color;
    font-size: $font-size-small;
}

.amount {
    font-weight: 600;
    color: $green;
    font-size: 0.9em;
}

// ===========================================Dropdown Card Css=============================================== //

// ===================================================SiderLayout CSS=================================================== //

.custom-sider {
    background-color: $white !important;
    z-index: 1;

    .sider-content {
        display: flex;
        flex-direction: column;
        height: 100%;

        .logo-container {
            padding: 4px;
            background-color: $white;
            text-align: left;
        }

        .menu-container {
            flex: 1;
            overflow-y: auto;
            overflow-x: hidden;

            &::-webkit-scrollbar {
                display: none;
            }

            -ms-overflow-style: none;
            scrollbar-width: none;

            .ant-menu {
                padding-left: 16px;

            }
        }

        .sider-footer {
            border-top: 1px solid $body-bg;
        }
    }

    .ant-menu {

        //background-color: $white;

        .ant-menu-item,
        .ant-menu-submenu-title {
            font-size: 14px;
            //padding-left: 10px !important;
            margin: 4px 0 !important;


            &:hover,
            &:active {
                //background-color: $primary-color !important;
                color: $primary-color !important;
            }
        }


        .ant-menu-submenu {
            >.ant-menu-submenu-title {
                //padding-left: 20px !important;
            }

            .ant-menu-sub {

                .ant-menu-item,
                .ant-menu-submenu-title {
                    padding-left: 30px !important;
                }
            }
        }

        &.ant-menu-inline {
            .ant-menu-item-selected {
                //background-color: $primary-color !important;
                color: $white !important;
            }

            .ant-menu-submenu-selected {
                >.ant-menu-submenu-title {
                    color: $primary-color !important;
                }
            }
        }
    }

    .last-login {
        padding: 16px;
        color: $primary-color;
        font-size: 12px;
        text-align: center;
        background-color: $white;
    }

    &.ant-layout-sider-collapsed {

        .ant-menu-item,
        .ant-menu-submenu-title {
            //padding-left: 25px !important;
            //text-align: center;

            .ant-menu-item-icon {
                margin-right: 0;
            }

            .ant-menu-title-content {
                display: none;
            }
        }
    }
}

.ant-layout {
    transition: margin-left 0.2s;
}

// ===================================================SiderLayout CSS=================================================== //
.editCommitment {
    color: $font-color;
    display: flex;
    align-items: center;
    font: normal normal bold 20px / 33px Noto Sans;

}


.dashboard-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.dashboard-cards-wrapper>* {
    flex: 1 1 calc(25% - 1rem);
    min-width: 200px;
}

@media (max-width: 1200px) {
    .dashboard-cards-wrapper>* {
        flex: 1 1 calc(50% - 1rem);
    }
}

@media (max-width: 768px) {
    .dashboard-cards-wrapper>* {
        flex: 1 1 100%;
    }
}


.payment-history-tab {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.payment-history-tab h3 {
    margin-bottom: 20px;
    color: #333;
}

/* Customize Timeline styles if needed */
.ant-timeline-item-content {
    padding-bottom: 20px;
}


.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
    background: #ffffff;
    color: rgba(0, 0, 0, 0.85);
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
    border-color: #d9d9d9;
}

.ant-picker-header-view button:hover {
    color: rgba(0, 0, 0, 0.85);
}

.ant-picker-today-btn {
    color: rgba(0, 0, 0, 0.85);
}

.ant-picker-range .ant-picker-active-bar {
    background: #d9d9d9;
}

.custom-margin-top {
    margin-top: -14px;
}

.upload-id {
    margin-top: 20px;
}

.modal-custom {
    background-color: $screen-background-color;
    font-family: $font-family;
}

.button-cancel {
    color: $font-color;
}

.button-save {
    background-color: $primary-color;
}

.form-item {
    color: $font-color;
    font-size: $font-size-medium;
}

.input-custom::placeholder {
    color: $font-color;
}

.ant-modal-title {
    font-family: $font-family !important;
    font-size: $font-size-large !important;
    color: $font-color !important;
}

.ant-form-item-label>label {
    color: $font-color !important;
    font-family: $font-family !important;
    font-size: $font-size-medium !important;
    font-weight: $font-weight-bold !important;
}

.ant-select-selector {
    font-family: $font-family !important;
    font-size: $font-size-medium !important;
    color: $font-color !important;
}

.ant-select-dropdown .ant-select-item {
    font-family: $font-family !important;
    font-size: $font-size-medium !important;
    color: $font-color !important;
}

.ant-input::placeholder,
.ant-select-selection-placeholder {
    font-family: $font-family !important;
    font-size: $font-size-medium !important;
    color: $font-color !important;
}

.common-button-style {
    border-radius: 10px;
    padding: 5px 40px;
    opacity: 100%;
}

.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
}

.dashboard-card {
    background-color: $light-yellow;
    color: $font-color;
    width: 240px;
    height: 86px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    border-radius: 8px;
    box-shadow: 0 2px 5px $font-color;
}

.dashboard-card h3 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
    color: $font-color;
    padding-left: 10px;
}

.dashboard-card p {
    font-size: 30px;
    font-weight: bold;
    padding-left: 10px;
}