@use '../../../assets/scss/variables/variables' as *;

.booking-container {
  height:auto;
  width: 100%;
  background-color: $white; 
  margin-top: 10px;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 15px;
  padding-left: 20px;
  box-sizing: border-box;
  position: relative;
  
}

.booking-room{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.booking-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.booking-title,.rooms-title,.guest-title  {
  font-weight: bold;
  font-size: 1.4rem;
  color: $font-color;
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 5px;
}

.booking-id {
  font-size: 1.2rem;
  font-family: "Noto Sans", sans-serif;
  margin-right: 50px;
  color: $font-color;
}

.custom-datepicker.read-only,
.member-input.read-only,.rooms-input.read-only {
  background-color: $white;
  color: $grey; 
  border: 1px solid $light-grey;  
  cursor: not-allowed; 
}

.custom-datepicker.read-only:hover{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.29);
}

.custom-datepicker.read-only:focus,
.member-input.read-only:focus{
  border: 1px solid $light-grey; 
  cursor: not-allowed; 
}

.date-label {
  font-size: 15px;
  margin-bottom: 2px;
  line-height: 20px;
  color: $font-color;
}

.custom-datepicker {
  position: relative;
  border: 2px solid $grey;
  border-radius: 4px;
  padding: 5px 8px;
  font-size: 12px;
  color: $grey;
  background-color: $white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.29);
  transition: box-shadow 0.3s ease;
  margin-top: -2px;
  margin-bottom: 10px;
  height: 35px;
}

.custom-datepicker:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.29);
}

.custom-datepicker:focus {
  outline: none;
  border: 2px solid $primary-color;
}

.date-picker-container {
  display: flex;
  gap: 10px;
}

.date-picker-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.member-label {
  display: flex;
  align-items: center;
  font-size: 15px;
  height: 35px;
  margin-top: -10px;
  margin-bottom: -7px;
  color: $font-color;
}

.member-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -5px;
}

.member-inputs {
  display: flex;
  gap: 0px;
}

.member-input,.rooms-input {
  position: relative;
  border: 2px solid $grey;
  border-radius: 4px;
  padding: 5px 8px;
  font-size: 12px;
  color: $grey;
  background-color: $white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.29);
  transition: box-shadow 0.3s ease;
  height: 35px;
}

.member-input:focus {
  outline: none;
  border: 2px solid $primary-color;
}

.flex-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.search-button {
  background-color: $primary-color;
  color: $white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 17px;
  font-family: "Noto Sans", sans-serif;
  cursor: pointer;
  height: 35px;
  width: 80px;
  margin-left: 30px; 
  display: flex;
  justify-content: center; 
  align-items: center;
}

.search-button:disabled {
  background-color: $primary-color; 
  color: $white; 
  cursor: not-allowed;
}

.search-button:disabled:hover {
  background-color: $primary-color;
  color: $white; 
  cursor: not-allowed;
}

.search-button:hover {
  background-color: $primary-color;
}

.search-button:focus {
  outline: none;
}

.edit-icon {
  position:absolute;
  bottom: 17px;
  right: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}


.guest-payment{
  display: flex;
  flex-direction: row;
  gap: 35px;
  margin-bottom: 100px;
}

.overall-div{
  display: flex;
  flex-direction: column;
  gap: 25px;
}
/* ROOMS */

.rooms-container {
  width: 100%;
  background-color: $white;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  padding-left: 20px;
  box-sizing: border-box;
  position: relative;
}

.rooms-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.rooms-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.room-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.field-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.room-label,
.building-label,
.floor-label,
.room-number-label,
.amount-label {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 1px;
  line-height: 20px;
  color: $font-color
}

.room-dropdown,
.building-dropdown,
.floor-dropdown,
.room-number-dropdown,
.amount-input {
  width: 100%;
  padding: 5px 8px;
  border-radius: 4px;
  border: 2px solid $grey;
  background-color: $white;
  font-size: 12px;
  color: $grey;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.29);
  transition: box-shadow 0.3s ease;
  height: 35px;
  /* margin-top: -8px; */
}

.room-dropdown:focus,
.building-dropdown:focus,
.floor-dropdown:focus,
.room-number-dropdown:focus,
.amount-input:focus {
  outline: none;
  border: 2px solid $primary-color;
}

.input-with-icon {
  display: flex;
  align-items: center;
  position: relative;
}

.input-with-icon img {
  margin-left: 10px;
}

.icon-container {
  display: flex;
  align-items: center;
  margin-top: 25px;
  width: 40px;
}

.guests-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.delete-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-top: -10px;
}

.guests-count {
  margin-left: 2px;
  font-weight: bold;
}

.guests-content {
  display: flex;
  align-items: center;
}

.rooms-buttons{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.add-rooms-button,.clear-rooms-button {
  background-color: $primary-color;
  color: $white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 15px;
  font-family: "Noto Sans", sans-serif;
  cursor: pointer;
  height: 35px;
  width: 150px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.add-rooms-button:hover {
  background-color: $primary-color;
}

.add-rooms-button:focus {
  outline: none;
}



/*GUESTS*/

.guest-container {
  width: 75%;
  height: auto;
  background-color: $white;
  margin-top: 10px;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 15px;
  padding-left: 20px;
  box-sizing: border-box;
  position: relative;
}

.guest-container-add-booking{
  width: 75%;
  height: auto;
  background-color: $white;
  margin-top: 10px;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 15px;
  padding-left: 20px;
  box-sizing: border-box;
  position: relative;

}

.guest-header  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}


.guest-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.guest-row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

.field-container.full-width {
  flex: 1 1 100%;
}

.guest-label {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.guest-input,
.guest-dropdown {
  width: 100%;
  padding: 5px 8px;
  border-radius: 4px;
  border: 2px solid $grey;
  background-color: $white;
  font-size: 12px;
  color: $grey;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.29);
  transition: box-shadow 0.3s ease;
  height: 35px;
  margin-top: -12px;
}

.guest-input:focus,
.guest-dropdown:focus {
  outline: none;
  border: 2px solid $primary-color;
}

.upload-field {
  display: flex;
  align-items: center;
  gap: 10px;
}

.upload-input {
  display: none;
}

.upload-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;

}

.upload-label {
  cursor: pointer;
  font-size: 0.9rem;
  color: $font-color;
  text-decoration: underline;
}

/* PAYMENTS */

.payments-container {
  background-color: $white;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  padding: 20px;
  margin-top: 10px;
  width: 350px;
}

.tabs {
  display: flex;
  margin-bottom: 40px;
}

.tab {
  padding: 10px;
  cursor: pointer;
  color: $font-color;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  height: 30px;
  position: relative;
}

.tab.active {
  color: $primary-color;
  border-bottom-color: $primary-color;
}

.tab.active::after {
  content: '';
  bottom: -20px;
  position: absolute;
  left: 10px;
  width: 80%;
  height: 4px;
  background-color: $primary-color;
}

.payment-tab,
.payment-history-tab {
  padding: 10px;
  background-color: $white;  
  border: none; 
  cursor: pointer;
}

.payment-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.payment-label {
  width: 100px;
  color: $font-color; 
  font-size: 15px;
  font-weight: bold;
  margin-right: 5px;
  line-height: 1.2;
}

.payment-input {
  flex: 1;
  padding: 5px 8px;
  border-radius: 4px;
  border: 2px solid $grey;
  background-color: $white;
  font-size: 12px;
  color:$grey;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.29);
  transition: box-shadow 0.3s ease;
  height: 35px;
  margin-top: 7px;
  margin-bottom: 1px;
}

.payment-input:focus{
  outline: none;
  border: 2px solid $primary-color;
}

.pay-button {
  margin-top: 20px;
  background-color: $primary-color;
  color:$white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%; 
  height: 40px;
}

.footer {
  flex-shrink: 0;
  background-color: $white;
  text-align: right;
  font-size: 14px;
  color: $grey;
  padding: 1px;
}

.footer-buttons {
  text-align: right;
}

.cancel-button,
.accept-button,
.reject-button {
  margin-left: 40px;
  padding: 4px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-button {
  background-color: $white;
  color: $primary-color;
  border: 2px solid $primary-color;
  font-size: 18px;
  font-weight: 500;
}

.accept-button {
  background-color: $white;
  color: $light-green;
  border: 2px solid $light-green;
  font-size: 18px;
  font-weight: 500;
}

.reject-button {
  background-color: $white;
  color: $red;
  border: 2px solid $red;
  font-size: 18px;
  font-weight: 500;
}

/* Responsive CSS */
@media (max-width: 768px) {
  .booking-container,
  .rooms-container,
  .guest-container,.payments-container {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    display: block;
  }

  .payments-container {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    display: block;
  }

  .guest-payment{
    display: flex;
    flex-direction: column;
  }

  .overall-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }


  .booking-header,
  .rooms-header,
  .guest-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .room-row {
    flex-direction: column;
  }

  .booking-title, .rooms-title, .guest-title {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }

  .booking-id {
    font-size: 1rem;
    margin-right: 0;
  }

  .date-picker-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%; 
    z-index: 1000;

  }

  .custom-datepicker {
    width: 100%; 
  }

  .member-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; 
  }

  .member-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; 
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    width: 100%; 
  }

  .search-button {
    margin-left: 0;
    width: 100%;
  }

  .edit-icon {
    top: 10px; 
    bottom: initial; 
    right: 10px;
  }

  .rooms-content,
  .guest-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; 
  }

  .field-container {
    width: 100%;
  }

  .field-container.full-width {
    width: 100%;
  }

  .tab {
    width: 100%;
    text-align: center;
  }

  .payment-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%; 
  }

  .payment-label {
    width: 100%;
    margin-bottom: 5px;
  }

  .payment-input {
    width: 100%;
  }

  .pay-button {
    width: 100%;
  }

  .guest-row {
    display: flex;
    flex-direction: column;  
    gap: 10px;
  }

  .footer-buttons {
    text-align: center;
    margin-top: 10px;
  }

  .cancel-button, .accept-button, .reject-button {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
}

/* Modal Title Container */
.modal-title-container {
  display: flex;
  align-items: center;
  font-size: 16px;
}

/* Modal Title Text */
.modal-title-text {
  margin-right: 10px;
  font-weight: bolder;
}

/* Modal Title Date Range */
.modal-title-date {
  font-size: 12px;
  color: $grey;
}


/* Modal Title */
.modal-title {
  font-size: 12px;
  margin-left: 10px;
  color: $grey;
}

/* Modal Footer Buttons */
.modal-footer-button-cancel {
  border-color: $white;
  color: $white;
}

.modal-footer-button-submit {
  background-color: $primary-color;
  border-color: $primary-color;
}

/* Form Layout */
.form-layout {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}

.form-item-date-time {
  width: 48%;
  margin: 0;
}

.form-item-due-amount {
  width: 48%;
  margin: 0;
}

/* Payment Section */
.payment-section {
  border: 1px solid $white;
  padding: 10px;
  margin-bottom: 20px;
}

.payment-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.payment-form-item {
  margin: 0;
}

.payment-remark {
  margin: 10px 0 0 0;
}

.custom-modal-header {
  .modal-title {
    font-size: 16px;
    color: $font-color;
    font-weight: bold;
    margin-left: -1px;
  }
}

.label-custom {
  font-size: 15px;
  color: $font-color;
  font-weight: bold;
}

.custom-select {
  font: $font-family;
  font-size: 12px;
  color: $grey;
  border-radius: 4px;
  border: 2px solid $grey;
  background-color: $white;
  width: 100%;
}

.custom-select.brown-selected {
  color: $font-color;
}

.custom-select option {
  color: $font-color;
}

.custom-select option:checked {
  color: $font-color;
}

.modal {
  display: flex !important;
  align-items: center;
  justify-content: center;
  
  &.show {
    height: 100vh;
    padding: 0 !important;
    overflow: hidden;
  }
}

.modal-dialog {
  position: fixed;
  margin: auto;
  width: 90%;
  max-width: 800px; 
  max-height: 90vh;
  
  .modal-content {
    max-height: 100vh;
    overflow-y: auto;
  }
}

.form-wrapper {
  .FormikWrapper {
    padding: 40px;
  }
  
  .btn-Published {
    text-align: center;
  }
  
  .addDonation-btn {
    padding: 8px 20px;
    margin-left: 10px;
    font: normal normal bold 15px/20px noto sans;
  }
  
  .donationContent {
    height: 350px;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  .filterPeriod {
    color: $primary-color;
    font: normal normal bold 13px/5px noto sans;
  }
  
  .btn-secondary {
    background-color: $white !important;
    color: $font-color !important;
    border: none;
    font: normal normal bold 20px/20px noto sans !important;
    box-shadow: none !important;
    
    &:hover {
      color: $white !important;
      background-color: $primary-color !important;
    }
    
    .secondary.active {
      color: $white !important;
    }
  }
  
  .addUser {
    font-size: 13px;
    
    > span {
      text-decoration: underline;
      color: $primary-color;
    }
  }
}

 .ant-modal-confirm-title{
  color: $font-color !important;
  font: $font-family $font-weight-bold !important;
 }

 .ant-modal-confirm-content{
  color: $grey !important;
  font: $font-family $font-weight-bold !important;
 }


